.Chat {
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
    place-content: center;
    flex-direction: column;
    height: 81vh;
    width: 100%;
}

.Interactions {
    overflow-y: scroll;
    height:100%;
}

.lightInput {
    lighting-color: inherit;
}

.darkInput {
    lighting-color: #ECECEC;
}